# 13) pd.concat([df1,df2]) 시리즈, 데이터프레임 합치기

In [1]:
# melt는 열->행, pivot은 행->열

In [2]:
import pandas as pd

In [20]:
pd.concat?

In [5]:
s1 = pd.Series(['a', 'b'])
s1

0    a
1    b
dtype: object

In [6]:
s2 = pd.Series(['c', 'd'])
s2

0    c
1    d
dtype: object

In [7]:
pd.concat([s1,s2])

0    a
1    b
0    c
1    d
dtype: object

In [9]:
pd.concat([s1,s2], ignore_index = True) # 0101에서 0123으로 바뀜

0    a
1    b
2    c
3    d
dtype: object

In [11]:
pd.concat([s1,s2], keys=['s1','s2',], names =['Series name', 'Row ID'] )

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

In [13]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df1

  letter  number
0      a       1
1      b       2

In [14]:
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
df2

  letter  number
0      c       3
1      d       4

In [15]:
pd.concat([df1,df2]) #앞에 index 0101은 고정이다.

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [17]:
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                    columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      c       3    cat
1      d       4    dog

In [18]:
pd.concat([df1,df3])

C:\Users\whfh1\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

  animal letter  number
0    NaN      a       1
1    NaN      b       2
0    cat      c       3
1    dog      d       4

In [19]:
pd.concat([df1,df3], join='inner') #animal column이 없어졌다. letter와 number만 있다.

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

In [21]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george

In [22]:
df5 = pd.DataFrame([1], index=['a'])
df5

   0
a  1

In [23]:
df6 = pd.DataFrame([2], index=['a'])
df6

   0
a  2

In [24]:
pd.concat([df5,df6], verify_integrity=True) #value error가 난다. 중복된 값이 있으면 에러가 나는지 데이터 검증할 수 있는 옵션이다.

ValueError: Indexes have overlapping values: Index(['a'], dtype='object')