# 10) assign 으로 새로운 컬럼 만들기, qcut으로 binning, bucketing 하기

In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([]) #비어있는 dataframe 만들기
df

Empty DataFrame
Columns: []
Index: []

In [6]:
df.assign?

In [11]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df

    A         B
0   1  0.581218
1   2 -0.703661
2   3 -0.055716
3   4  2.097001
4   5  0.417841
5   6  0.593570
6   7  1.885223
7   8  0.047653
8   9  0.241616
9  10 -1.071553

In [15]:
df.assign(ln_A=lambda x: np.log(x.A)).head() #log를 구해서 ln_A라는 새로운 column 생성

   A         B      ln_A
0  1  0.581218  0.000000
1  2 -0.703661  0.693147
2  3 -0.055716  1.098612
3  4  2.097001  1.386294
4  5  0.417841  1.609438

In [18]:
df["ln_A"] = np.log(df.A)
df  #assign 으로 새로운 column 만들어 줄 수도 있고 df 감싸거나 df.ln_A 이런 식으로 만들 수도 있다.

    A         B      ln_A
0   1  0.581218  0.000000
1   2 -0.703661  0.693147
2   3 -0.055716  1.098612
3   4  2.097001  1.386294
4   5  0.417841  1.609438
5   6  0.593570  1.791759
6   7  1.885223  1.945910
7   8  0.047653  2.079442
8   9  0.241616  2.197225
9  10 -1.071553  2.302585

In [19]:
pd.qcut?

In [21]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [22]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"]) #숫자형 데이터를 카테고리형 데이터로 바꿀 때 qcut을 사용한다.

0    medium
1      good
2      good
3       bad
4    medium
5       bad
6       bad
7      good
8    medium
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

In [23]:
df.max(axis=1)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
dtype: float64

In [25]:
df.max(axis=0)

A       10.000000
B        2.097001
ln_A     2.302585
dtype: float64

In [26]:
df.min(axis=0)

A       1.000000
B      -1.071553
ln_A    0.000000
dtype: float64

In [ ]:
#clip은 안에 임계치 만큼 값을 trim 시켜준다.

In [30]:
df["A"].clip(lower=-1, upper=5) #lower와 upper에 따라 값이 변형된다.

0    1
1    2
2    3
3    4
4    5
5    5
6    5
7    5
8    5
9    5
Name: A, dtype: int64

In [31]:
df.abs # 마이너스 값들이 있다.

<bound method NDFrame.abs of     A         B      ln_A
0   1  0.581218  0.000000
1   2 -0.703661  0.693147
2   3 -0.055716  1.098612
3   4  2.097001  1.386294
4   5  0.417841  1.609438
5   6  0.593570  1.791759
6   7  1.885223  1.945910
7   8  0.047653  2.079442
8   9  0.241616  2.197225
9  10 -1.071553  2.302585>

In [33]:
df["B"].abs() #값이 절대값으로 바뀐다.

0    0.581218
1    0.703661
2    0.055716
3    2.097001
4    0.417841
5    0.593570
6    1.885223
7    0.047653
8    0.241616
9    1.071553
Name: B, dtype: float64