# 7) 기본 통계 하기 value_counts, nunique, sum, count, mean, median

In [18]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
df = sns.load_dataset('iris')
df.shape #df에는 150개의 data가 있다.

(150, 5)

In [5]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [6]:
df['species'].value_counts() #value_counts는 각각 그룹화 하여 수를 세어준다.

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

In [7]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [8]:
len(df) #150개의 길이

150

In [10]:
df.shape

(150, 5)

In [11]:
df.shape[0] #앞에 행만 가져오고 싶다

150

In [12]:
len(df) == df.shape[0] #len 이나 df.shape로 가져올 수 있다.

True

In [14]:
df['species'].nunique() #unique한 것의 개수가 3개이다. 위의 value_counts에서 3개였다.

3

In [15]:
df.describe() #기본적으로 수치형 데이터에 대한 통계를 보여준다.

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
df.describe(include='all') #물음표 보면서 object, all, category 이런거에 따라 통계적 수치를 볼 수 있다.

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

In [17]:
df.describe(include=[np.object]) #np 부르기 위해 위에서 import np해주기

NameError: name 'np' is not defined

In [19]:
df.describe(include=[np.object]) #describe로 요약해서 볼 수 있다.

           species
count          150
unique           3
top     versicolor
freq            50

In [20]:
df.describe(include=[np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

```
sum()
Sum values of each object.
count()
Count non-NA/null values of
each object.
median()
Median value of each object.
quantile([0.25,0.75])
Quantiles of each object.
apply(function)
Apply function to each object.
min()
Minimum value in each object.
max()
Maximum value in each object.
mean()
Mean value of each object.
var()
Variance of each object.
std()
Standard deviation of each
object. ```

In [22]:
df['petal_width'].sum()

179.90000000000003

In [23]:
df['petal_width'].count()

150

In [24]:
df['petal_width'].median()

1.3

In [25]:
df['petal_width'].mean()

1.199333333333334

In [28]:
df.mean() #특정 column 지정 안하면 전부 보여준다.

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [26]:
df.quantile([0.25,0.75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [27]:
df['petal_width'].quantile([0.25,0.75])

0.25    0.3
0.75    1.8
Name: petal_width, dtype: float64

In [29]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [30]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [31]:
df.var() #분산

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [32]:
df.std() #표준편차

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

# 8) 판다스로 apply 활용하기 lambda 익명함수 사용하기

### apply(function)

In [34]:
df.apply(lambda x : x[0]) #익명함수를 사용할 수 있다.

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [36]:
df['species'].apply(lambda x : x[:3])

0      set
1      set
2      set
3      set
4      set
5      set
6      set
7      set
8      set
9      set
10     set
11     set
12     set
13     set
14     set
15     set
16     set
17     set
18     set
19     set
20     set
21     set
22     set
23     set
24     set
25     set
26     set
27     set
28     set
29     set
      ...
120    vir
121    vir
122    vir
123    vir
124    vir
125    vir
126    vir
127    vir
128    vir
129    vir
130    vir
131    vir
132    vir
133    vir
134    vir
135    vir
136    vir
137    vir
138    vir
139    vir
140    vir
141    vir
142    vir
143    vir
144    vir
145    vir
146    vir
147    vir
148    vir
149    vir
Name: species, Length: 150, dtype: object

In [37]:
df['species_3']= df['species'].apply(lambda x : x[:3])

In [38]:
df # 새로 species_3 column 생성 가능

     sepal_length  sepal_width  petal_length  petal_width    species species_3
0             5.1          3.5           1.4          0.2     setosa       set
1             4.9          3.0           1.4          0.2     setosa       set
2             4.7          3.2           1.3          0.2     setosa       set
3             4.6          3.1           1.5          0.2     setosa       set
4             5.0          3.6           1.4          0.2     setosa       set
5             5.4          3.9           1.7          0.4     setosa       set
6             4.6          3.4           1.4          0.3     setosa       set
7             5.0          3.4           1.5          0.2     setosa       set
8             4.4          2.9           1.4          0.2     setosa       set
9             4.9          3.1           1.5          0.1     setosa       set
10            5.4          3.7           1.5          0.2     setosa       set
11            4.8          3.4           1.6          0.2     setosa       set
12            4.8          3.0           1.4          0.1     setosa       set
13            4.3          3.0           1.1          0.1     setosa       set
14            5.8          4.0           1.2          0.2     setosa       set
15            5.7          4.4           1.5          0.4     setosa       set
16            5.4          3.9           1.3          0.4     setosa       set
17            5.1          3.5           1.4          0.3     setosa       set
18            5.7          3.8           1.7          0.3     setosa       set
19            5.1          3.8           1.5          0.3     setosa       set
20            5.4          3.4           1.7          0.2     setosa       set
21            5.1          3.7           1.5          0.4     setosa       set
22            4.6          3.6           1.0          0.2     setosa       set
23            5.1          3.3           1.7          0.5     setosa       set
24            4.8          3.4           1.9          0.2     setosa       set
25            5.0          3.0           1.6          0.2     setosa       set
26            5.0          3.4           1.6          0.4     setosa       set
27            5.2          3.5           1.5          0.2     setosa       set
28            5.2          3.4           1.4          0.2     setosa       set
29            4.7          3.2           1.6          0.2     setosa       set
..            ...          ...           ...          ...        ...       ...
120           6.9          3.2           5.7          2.3  virginica       vir
121           5.6          2.8           4.9          2.0  virginica       vir
122           7.7          2.8           6.7          2.0  virginica       vir
123           6.3          2.7           4.9          1.8  virginica       vir
124           6.7          3.3           5.7          2.1  virginica       vir
125           7.2          3.2           6.0          1.8  virginica       vir
126           6.2          2.8           4.8          1.8  virginica       vir
127           6.1          3.0           4.9          1.8  virginica       vir
128           6.4          2.8           5.6          2.1  virginica       vir
129           7.2          3.0           5.8          1.6  virginica       vir
130           7.4          2.8           6.1          1.9  virginica       vir
131           7.9          3.8           6.4          2.0  virginica       vir
132           6.4          2.8           5.6          2.2  virginica       vir
133           6.3          2.8           5.1          1.5  virginica       vir
134           6.1          2.6           5.6          1.4  virginica       vir
135           7.7          3.0           6.1          2.3  virginica       vir
136           6.3          3.4           5.6          2.4  virginica       vir
137           6.4          3.1           5.5          1.8  virginica       vir
138           6.0          3.0           4.8          1.8  virginica       vir
139           6.9          3.1           5.4          2.1  virginica       vir
140           6.7          3.1           5.6          2.4  virginica       vir
141           6.9          3.1           5.1          2.3  virginica       vir
142           5.8          2.7           5.1          1.9  virginica       vir
143           6.8          3.2           5.9          2.3  virginica       vir
144           6.7          3.3           5.7          2.5  virginica       vir
145           6.7          3.0           5.2          2.3  virginica       vir
146           6.3          2.5           5.0          1.9  virginica       vir
147           6.5          3.0           5.2          2.0  virginica       vir
148           6.2          3.4           5.4          2.3  virginica       vir
149           5.9          3.0           5.1          1.8  virginica       vir

[150 rows x 6 columns]

In [44]:
#함수를 만든다
def smp(x):
    #뒤에서 3번째까지의 문자를 가져오는 함수
    x = x[-3:]
    return x

In [45]:
df['species-3'] = df['species'].apply(smp)

In [46]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species-3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa
5,5.4,3.9,1.7,0.4,setosa,set,osa
6,4.6,3.4,1.4,0.3,setosa,set,osa
7,5.0,3.4,1.5,0.2,setosa,set,osa
8,4.4,2.9,1.4,0.2,setosa,set,osa
9,4.9,3.1,1.5,0.1,setosa,set,osa
10,5.4,3.7,1.5,0.2,setosa,set,osa
11,4.8,3.4,1.6,0.2,setosa,set,osa
12,4.8,3.0,1.4,0.1,setosa,set,osa
13,4.3,3.0,1.1,0.1,setosa,set,osa
14,5.8,4.0,1.2,0.2,setosa,set,osa
15,5.7,4.4,1.5,0.4,setosa,set,osa
16,5.4,3.9,1.3,0.4,setosa,set,osa
17,5.1,3.5,1.4,0.3,setosa,set,osa
18,5.7,3.8,1.7,0.3,setosa,set,osa
19,5.1,3.8,1.5,0.3,setosa,set,osa
20,5.4,3.4,1.7,0.2,setosa,set,osa
21,5.1,3.7,1.5,0.4,setosa,set,osa
22,4.6,3.6,1.0,0.2,setosa,set,osa
23,5.1,3.3,1.7,0.5,setosa,set,osa
24,4.8,3.4,1.9,0.2,setosa,set,osa
25,5.0,3.0,1.6,0.2,setosa,set,osa
26,5.0,3.4,1.6,0.4,setosa,set,osa
27,5.2,3.5,1.5,0.2,setosa,set,osa
28,5.2,3.4,1.4,0.2,setosa,set,osa
29,4.7,3.2,1.6,0.2,setosa,set,osa
...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,virgin,ica
121,5.6,2.8,4.9,2.0,virginica,virgin,ica
122,7.7,2.8,6.7,2.0,virginica,virgin,ica
123,6.3,2.7,4.9,1.8,virginica,virgin,ica
124,6.7,3.3,5.7,2.1,virginica,virgin,ica
125,7.2,3.2,6.0,1.8,virginica,virgin,ica
126,6.2,2.8,4.8,1.8,virginica,virgin,ica
127,6.1,3.0,4.9,1.8,virginica,virgin,ica
128,6.4,2.8,5.6,2.1,virginica,virgin,ica
129,7.2,3.0,5.8,1.6,virginica,virgin,ica
130,7.4,2.8,6.1,1.9,virginica,virgin,ica
131,7.9,3.8,6.4,2.0,virginica,virgin,ica
132,6.4,2.8,5.6,2.2,virginica,virgin,ica
133,6.3,2.8,5.1,1.5,virginica,virgin,ica
134,6.1,2.6,5.6,1.4,virginica,virgin,ica
135,7.7,3.0,6.1,2.3,virginica,virgin,ica
136,6.3,3.4,5.6,2.4,virginica,virgin,ica
137,6.4,3.1,5.5,1.8,virginica,virgin,ica
138,6.0,3.0,4.8,1.8,virginica,virgin,ica
139,6.9,3.1,5.4,2.1,virginica,virgin,ica
140,6.7,3.1,5.6,2.4,virginica,virgin,ica
141,6.9,3.1,5.1,2.3,virginica,virgin,ica
142,5.8,2.7,5.1,1.9,virginica,virgin,ica
143,6.8,3.2,5.9,2.3,virginica,virgin,ica
144,6.7,3.3,5.7,2.5,virginica,virgin,ica
145,6.7,3.0,5.2,2.3,virginica,virgin,ica
146,6.3,2.5,5.0,1.9,virginica,virgin,ica
147,6.5,3.0,5.2,2.0,virginica,virgin,ica
148,6.2,3.4,5.4,2.3,virginica,virgin,ica
149,5.9,3.0,5.1,1.8,virginica,virgin,ica